<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <connectionStrings>
    <add name="SkyApi_dbConnectionString" connectionString="Data Source=i00kh6od4s.database.windows.net,1433;Initial Catalog=SkyApi_db;User ID=skyadmin@i00kh6od4s;Password=Hundhiho11"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</packages>